<% provide(:title, t("edit_user")) %>
<% provide(:button_text, t('save_change')) %>
<div class="container_fullwidth">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="checkout-page">
          <ol class="checkout-steps">
            <li class="steps active">
              <a href="#" class="step-title">
              <%= yield(:title) %>
              </a>
              <div class="step-description">
                <div class="row">
                  <div class="col-md-offset-4 col-md-4">
                    <%= image_tag current_user.image %>
                  </div>
                  <%= render "register" %>
                </div>
              </div>
            </li>
          </ol>
        </div>
      </div>
    </div>
    <div class="clearfix">
    </div>
  </div>
</div>
