<% provide :title, t("cart") %>
<div class="container_fullwidth">
  <div class="container shopping-cart">
    <div class="row">
      <div class="col-md-12">
        <h3 class="title">
          <%= t "shopping_cart" %>
        </h3>
        <div class="clearfix">
        </div>
        <table class="shop-table" width="100%">
          <%= render "carts/cart" %>
        </table>
        <div class="clearfix">
        </div>
      </div>
    </div>
    <div class="clearfix">
    </div>
  </div>
</div>
